<!DOCTYPE html>
<html>
<head>
    <title>Classification Dashboard</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="switch-container">
        <div class="switch">
            <input type="checkbox" id="chartToggle" class="switch-checkbox" name="chartToggle">
            <label class="switch-label" for="chartToggle">
                <span class="switch-inner"></span>
                <span class="switch-switch"></span>
            </label>
        </div>
    </div>
    <canvas id="classificationChart"></canvas>

    <script src="script.js"></script>
</body>
</html>
